@import './assets/fonts/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	border-radius: 2rem;
}

*::-webkit-scrollbar-track {
	box-shadow: 6px -6px 30px 2px rgba(255, 255, 255, 0.226) inset;
	background: transparent;
	border-radius: 2rem;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background-color: #0a73dc7a;
	transition: all 0.3s ease-in-out;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	border-radius: 2rem;
	background-color: #0a74dc;
}

.fc th {
	border-style: none !important;
	/* padding-bottom: 8px !important; */
}
.fc td {
	padding-top: 0px !important;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div {
	display: flex;
	align-items: center;
}

.fc .fc-toolbar-title {
	font-size: 1.2rem !important;
	font-weight: 500;
	padding-right: 0.5rem;
}

.fc .fc-prev-button,
.fc .fc-next-button {
	margin-left: 10px !important;
	padding: 0 !important;
	background: none !important;
	height: auto !important;
	display: inline-block !important;
	border: none !important;
	color: rgb(167, 167, 167) !important;
	font-size: 12px !important;
	outline: none !important;
	box-shadow: none !important;
	transition: all 0.3s ease-in-out !important;
}

.fc .fc-prev-button:hover,
.fc .fc-next-button:hover {
	color: rgb(88, 88, 88) !important;
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid-section > * {
	border: none !important;
}
.fc-view-harness.fc-view-harness-active > div > table > thead {
	position: sticky !important;
	top: 0;
	z-index: 3;
	background-color: #fff;
}

.fc .fc-daygrid-day.fc-day-today {
	background: none !important;
	position: relative !important;
	color: #fff !important;
}

.fc .fc-daygrid-day.fc-day-today::before {
	width: 2px !important;
	position: absolute !important;
	left: 50%;
	bottom: 0;
	height: 99% !important;
	top: 0;
	z-index: 6 !important;
	background: #0a73dc !important;
	content: '' !important;
}

.fc .fc-daygrid-day.fc-day-today::after {
	width: 1rem !important;
	position: absolute !important;
	top: 0;
	z-index: 6;
	left: 38%;
	border-radius: 100%;
	height: 1rem !important;
	background: #0a73dc !important;
	content: '' !important;
}

.fc .fc-resource-timeline-divider {
	width: 0 !important;
}

.fc-theme-standard td {
	border: 0px solid #ddd !important;
	border-left: 1px solid #ddd !important;
	z-index: -1 !important;
}

.fc-timeline-events {
	border-radius: 0 !important;
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	/* padding: 10px 0px !important; */
	/* margin: 0 !important; */
	position: absolute !important;
	top: 3px !important;
}

.fc .fc-timeline-slot-frame {
	display: inline-block !important;
}

/* .fc .fc-timeline-now-indicator-arrow, */
.fc .fc-timeline-now-indicator-line {
	border-color: #0a73dc !important;
	border-width: 1px !important;
}

/* .fc .fc-timeline-now-indicator-arrow {
	top: 24px !important;
	height: 20px !important;
	width: 20px !important;
	border-radius: 100% !important;
	margin: 0 -10px !important;
	
} */
.fc-searchBtn-button {
	background: none !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	position: 'relative';
}

.fc-searchBtn-button::after {
	background: none !important;
	border: none !important;
	content: url(https://img.icons8.com/ios-glyphs/24/000000/search--v1.png);
}

.fc-searchBtn-button + button {
	display: none !important;
	background: none !important;
}

.fc-dayGridMonth-button {
	padding: 8px 20px !important;
	padding-right: 60px !important;
	background: none !important;
	/* border: none !important; */
	border: 1px solid gray !important;
	border-radius: 20px !important;
	outline: none !important;
	box-shadow: none !important;
	color: #000 !important;
	text-transform: capitalize !important;
	position: relative !important;
}

.fc-dayGridMonth-button::after {
	content: url(https://img.icons8.com/external-those-icons-lineal-those-icons/12/000000/external-down-arrows-those-icons-lineal-those-icons-1.png);
	position: absolute;
	right: 20px;
}
